*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nexa";
    font-weight: 300px;
}

@font-face{
    font-family: "Nexa";
    src: url("../../assets/fonts/nexa-light.otf");
    font-weight: 300;
    font-style: normal;
    background-color: white;
}

@font-face{
    font-family: "Nexa";
    src: url("../../assets/fonts/Nexa\ Bold.otf");
    font-weight: 400;
    font-size: normal;
    background-color: white;
}

@font-face {
    font-family: "Nexa";
    src: url("../../assets/fonts/nexaregular.otf");
    font-weight: 700;
    font-size: normal;
    background-color: white;
}

:root {
    background-color: white;
}    
