<!-- <!DOCTYPE html> -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Manager</title>
    <link rel="stylesheet" href="popUp.css">
    <script src="popUp.js"></script>
</head>
<body>
    <!--Pop Ups-->
    <div class="container-popup">
        <section class="PopUps-containers">
            <!--Icone de Usuario-->
            <div class="icon-perfil">
                <!--Conteudo Preenchido Automaticamente com JS-->
            </div>

            <!--PopUp Menu Usuario + Botões do PopUP Presentes no Menu Usuario-->
            <div class="Buttons-PopUp-User">
                <article class="button-config">
                    <button type="button" id="configurações">
                        <img src="../../../src/assets/icons/configuracoes.png">
                        Configurações
                    </button>
                </article>

                <article class="button-archive">
                    <button type="button" id="arquivar">
                        <img src="../../../src/assets/icons/arquivar.png">
                        Arquivar
                    </button>
                </article>

                <article class="button-trash">
                    <button type="button" id="lixeira">
                        <img src="../../../src/assets/icons/lixeira.png">
                        Lixeira
                    </button>
                </article>

                <article class="button-sair">
                    <button type="button" id="sair">
                        <img src="../../../src/assets/icons/sair.png">
                        Sair
                    </button>
                </article>

                <article class="button-theme">
                    <button type="button" id="alterar-tema">
                        <img src="../../../src/assets/icons/brilho-do-sol.png">
                        Alterar Tema
                    </button>
                </article>

                <article class="button-idioma">
                    <button type="button" id="linguagem-usuario">
                        <img src="../../../src/assets/icons/idioma.png">
                        Idioma
                    </button>
                </article>

                <article class="button-feedback">
                    <button type="button" id="feedback">
                        <img src="../../../src/assets/icons/feedback.png">
                        Der-nos seu Feedback
                    </button>
                </article>
            </div>
        </section>
    </div>
</body>
</html>