<!-- <!DOCTYPE html> -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Manager</title>
    <link rel="stylesheet" href="navbar.css">
    <script src="navbar.js"></script>
</head>
<body>
    <header class="header-menu">
        <!--Icone Aplicação-->  
    </header> 

    <div id="menu-options">
        <section class="container-buttons">
            <div class="text-area">

                    <!--Botão de Pesquisa-->
                <article class="text-pesquise">
                    <img src="../../src/assets/icons/pesquise.png">
                    <input type="text" placeholder="Pesquise...">
                </article>

                    <!--Gerir todos os Projetos-->
                <article class="text-gerir">
                    <img src="../../src/assets/icons/gerir.png">
                    <input type="text" placeholder="Gerir Todos os Projetos...">
                </article>

                    <!--Filtra informações de acordo com as necessidades do usuario-->
                <article class="text-filtrar">
                    <img src="../../src/assets/icons/filtro.png">
                    <input type="text" placeholder="Filtrar...">
                </article>

            </div>

            <div class="botões-de-gerenciamento">
                    <!--Botão que Apresenta os projetos mais recentes do usuario-->
                <article class="recentes-button">
                    <button id="recentes" type="button">
                        <img src="../../src/assets/icons/recente.png">
                        Recentes
                    </button>
                </article>

                    <!--Botão que exibe pessoas trabalhando nos projetos-->
                <article class="pessoas-button">
                    <button id="pessoas" type="button">
                        <img src="../../src/assets/icons/do-utilizador.png">
                        Pessoas                        
                    </button>
                </article>

                    <!--Botão de ordenação de entidades-->
                <article class="ordem-button">
                    <button id="ordenar" type="button">
                        <img src="../../src/assets/icons/ordenar.png">
                        Ordenar
                    </button>
                </article>

                    <!--Botão de ocultar informações indesejadas pelo usuario-->
                <article class="ocultar-button">
                    <button id="ocultar" type="button">
                        <img src="../../src/assets/icons/ocultar.png">
                        Ocultar
                    </button>
                </article>
            </div>

            <div class="user-configuration">
                <article class="perfil-usuario">
                    <button id="user-perfil" type="button" class="icon-button">
                        <img src="../../src/assets/icons/pessoa.png">
                    </button>
                </article>
            </div>

        </section>
    </div>

</body>
</html>