*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nexa";
    font-weight: 300px;
}

@font-face{
    font-family: "Nexa";
    src: url("../../assets/fonts/nexa-light.otf");
    font-weight: 300;
    font-style: normal;
    background-color: white;
}

@font-face{
    font-family: "Nexa";
    src: url("../../assets/fonts/Nexa\ Bold.otf");
    font-weight: 400;
    font-size: normal;
    background-color: white;
}

@font-face {
    font-family: "Nexa";
    src: url("../../assets/fonts/nexaregular.otf");
    font-weight: 700;
    font-size: normal;
    background-color: white;
}

:root {
    background-color: white;
}   

.container-buttons{
    background-color: #F9E58B;
    height: 40px;
    border-radius: 10px;
    font-family: "Nexa";
}

.menu-options{
    align-items: center;
}

.icon-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.icon-button img {
    width: 24px;
    height: 24px;
}


.botões-de-gerenciamento {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-area{
    display: flex;
    gap: 5px;
    align-items: center;
}

.botões-de-gerenciamento button{
    cursor: pointer;
}

.text-filtrar {
    position: relative;
}

.text-filtrar{
    padding-left: 40px;
}

.text-filtrar img{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
}

.text-pesquise {
    position: relative;
}

.text-pesquise{
    padding-left: 40px;
}

.text-pesquise img{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
}

.text-gerir {
    position: relative;
}

.text-gerir{
    padding-left: 40px;
}

.recentes-button img{
    width: 18px;
}

.pessoas-button img{
    width: 18px;
}

.ordem-button img{
    width: 18px;
}

.ocultar-button img{
    width: 18px;
}

.text-gerir img{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
}

